@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


/*---Contact form----*/

.contact-container {
  text-align: center;
  margin: auto;
}

.contact-container h1 {
  padding-top: 150px;
  margin: auto;
  color: #ffd04f;
  font-size: 50px;

}

.form-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 90px;
}

.form-items,
.form-fields {
  padding-top: 0px;
  width: 100%;
}

.contactForm {
  padding: 40px;
  margin-bottom: 200px;
  width: 800px;
  max-width: 80%;
}

main {
  position: relative;
}


.missing-warning {
  padding-top: 3px;
  color: white;
  display: none;
  font-size: 20 px;
}

input {
  width: calc(100% - 30px);
  margin-top: 10px;
  padding: 14px;
border-radius: 1rem;
}

.buttonHolder {
  text-align: center;
}

.button2 {
  background-color: #ffd04f;
  padding: 7px;
  font-size: 24px;
  color:#000000;
  margin-top: 50px;
  cursor: pointer;
  border-radius: 2rem;
  width: 121px;
}

.button2:hover {
  background-color:#fffbf0;
  color: black;
}

#message {
  height: 100px;
}

#confirmation {
  display: none;
  color: white;
  padding: 40px;
  text-align: center;
  font-size: 50px;
}


/*Smaller Screen*/
@media screen and (max-width: 799px) {
  body {
    font-size: 14px;
  }

  .contact-container h1 {
    padding-top: 50px;
    font-size: 30px;
  }
  .form-wrap {
    padding-top: 40px;
  }

  .socialbar {
   display: none;
  }
  .form-wrap h2 {
    text-align: center;
    padding-bottom: 0px;
    font-size: 26px;
  } 

  .form-design {
    padding: 10px 10px;
  }

  .form-error {
    font-size: 14px;
  }

  .button2 {
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
  }

  
}